* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.container{
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  }


header{
  text-align: center;
  padding: 10px;
  background-color: #10243c;
  color: white;
}



/* Theme button style */
.theme_btn_container{
  justify-content: space-around;
  display: flex;
  width: 200px;
  margin: auto;
  padding: 15px;
  border-radius: 20px;
  margin-top: 10px;
  background-color: #ffffff7e;
}

.theme_btn_container button{
  background-color: rgba(255, 255, 255, 0);
  border: none;
}


/*  */


/* CALCULATOR STYLE */

.calculator{
 color: inherit;
}

#calculator_display{
  height: 20%;
  background-color: #10243c;
  width: 100%;
  box-shadow: 0 8px 2px -2px #20c4fc;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border: none;
  border-bottom:2px solid #20c4fc;
  text-align: right;
font-size: 40px;
padding: 10px;
color: #fff;

}


/* #display-input{
  padding: 10px;
  color: white;
  font-size: 40px;
} */

#keys_container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 65%;
  justify-items: center;
  padding-bottom: 20px;
  background-color: #102444;
  width: 100%;
 
}

.calculator_key{
  border: none;
  background-color: #102444;
  width: 50px;
  height: auto;
  margin: 10px 10px 0px 10px;
  font-size: 22px;
  color: white;
}

#keys_container .all-clear{
  color: #ba3939;
  border: none;
  background-color: #102444;
  width: 50px;
  height: auto;
  margin: 10px 10px 0px 10px;
  font-size: 22px;
}

#keys_container .operator{
  color:#20c4fc;
}

#keys_container  .equal-sign{
  background-color: #20c4fc;
  color: white;
  border-radius: 5px;
  width: 50px;
  height: auto;
  margin: 10px 10px 0px 10px;
  font-size: 22px;
  color: white;
  border: none;
}
/*  */

@media screen and (min-width: 768px){
  #keys_container button{
    font-size: 24px;
  }
  
}


@media screen and (min-width: 1024px){
 
  
 .calculator{
  padding-top: 10px;
    width: 900px;
    margin: auto;
  }

  header{
    border-radius: 15px 15px 0px 0px;
  }

  #keys_container button{
    font-size: 26px;
  }

  #keys_container{
    border-radius: 0px 0px 15px 15px;
  }

  .container{
    background-color: whitesmoke;
  }
}